@forward "@/theme/shared.scss";

.commissionWrapper {
  display: flex;
  gap: 2rem;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
}

.subtitle {
  font-size: 1.4rem;
  color: $paragraphSecondaryColor;
}

.form {
  margin-top: 2rem;
}

.showCalculation {
  margin-top: 1.5rem;
  padding-inline: 2rem;
  background-color: rgba($secondaryColor, 0.09);
  height: 3.3rem;
  border-radius: $fourthBorderRadius;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionTitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
