.secondaryColorSpin {
  .ant-spin-dot-item {
    background-color: $secondaryColor;
  }
}

.whiteColorSpin {
  .ant-spin-dot-item {
    background-color: $whiteColor;
  }
}

.PrimaryColorSpin {
  .ant-spin-dot-item {
    background-color: $primaryColor;
  }
}
