@forward "@/theme/shared.scss";

.headerList {
  display: flex;
  align-items: center;
  gap: 2.4rem;

  .listItem {
    a {
      text-decoration: none;
      color: $whiteColor;
      font-size: 1.6rem;

      &:hover {
        opacity: 0.8;
      }
    }

    &.active {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: -1rem;
        inset-inline-start: 50%;
        transform: translate(50%);
        @include dir {
          transform: translate(-50%);
        }
        width: 2rem;
        height: 0.3rem;
        border-radius: 0.2rem;
        background-color: $whiteColor;
      }
    }
  }
}

@include md {
  .headerList {
    .listItem {
      a {
        font-size: 1.4rem;
      }
    }
  }
}

@include sm {
  .nav {
    order: 2;
    width: 100%;
  }

  .headerList {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    .listItem {
      width: 100%;

      &.active {
        &::after {
          display: none;
        }
      }

      a {
        display: block;
        font-size: 1.8rem;
        padding: 1rem;
        background-color: rgba($whiteColor, 0.1);
        width: 100%;
      }

      &:nth-child(even) {
        a {
          background-color: transparent;
        }
      }
    }
  }
}
