@forward "@/theme/shared.scss";
.header {
  background: url("../../../../public/images/header/headerBackground.png")
    center center/ 100% no-repeat;
  aspect-ratio: 8.65;
  padding-top: 2.5rem;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@include sm {
  .header {
    padding-top: 1.5rem;
  }
  .headerWrapper {
    padding-inline: 2rem;
  }
}

@include xs {
  .header {
    background: $primaryColor;
    padding-bottom: 1.5rem;
  }
}
