@forward "@/theme/shared.scss";

.textareaWrapper {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 3;

  &.active {
    textarea {
      + .label {
        top: 1rem;
        font-size: 1.2rem;
      }
    }
  }

  textarea {
    width: 100%;
    height: 12rem;
    padding: 2rem;
    border-radius: $secondaryBorderRadius;
    border: 1px solid $borderColor;
    outline: none;
    font-size: 1.4rem;
    caret-color: $primaryColor;
    transition: $mainTransition;
    resize: none;

    &::placeholder {
      color: $paragraphSecondaryColor;
    }

    &:focus {
      border-color: $primaryColor;

      + .label {
        top: 0.7rem;
        font-size: 1.2rem;
      }
    }
  }

  .label {
    position: absolute;
    top: 1.5rem;
    inset-inline-start: 2rem;
    font-size: 1.4rem;
    color: $paragraphSecondaryColor;
    transition: $mainTransition;
  }
}

@include xs {
  .textareaWrapper {
    grid-row: 4;
  }
}
