@forward "@/theme/shared.scss";

.rechargedCard {
  padding: 2rem;
  border-radius: $mainBorderRadius;
  box-shadow: 0 3px 30px rgba(#5c5c5c, 0.16);
}

.headerCard {
  display: flex;
  gap: 1rem;
}

.iconWrapper {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  @include circle(3.8rem);

  svg {
    font-size: 1.6rem;
  }
}

.rechargedInfo {
  margin-bottom: 1rem;
  .title {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .time {
    font-size: 1.1rem;
    color: $paragraphSecondaryColor;
  }
}
