@forward "@/theme/shared.scss";

.commissionLink {
  text-decoration: none;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.16);
  padding: 2.4rem 2rem;
  border-radius: $mainBorderRadius;
  background-color: $whiteColor;
  transition: $mainTransition;

  &:hover {
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  }
}

.linkStart {
  color: $headingMainColor;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;

  svg {
    font-size: 2rem;
    color: $paragraphSecondaryColor;
  }
}

.iconArrowWrap {
  svg {
    font-size: 1.6rem;
    color: $paragraphSecondaryColor;
  }
}
