.search {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 1rem;
  height: 4.5rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;

  input {
    padding-inline-start: 1.2rem;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.2rem;
    width: 174px;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  svg {
    color: #fff;
    font-size: 1.5rem;
  }
}
