@forward "@/theme/shared.scss";

.userInfoWrapper {
  padding-block: 1.1rem;
  border-bottom: 1px solid $greyColor;

  &:last-child {
    border-bottom: none;
  }
}

.userInfo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.userWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.userImage {
  flex-shrink: 0;
  @include circle(5rem);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.userNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  color: $paragraphSecondaryColor;
}

.time {
  font-size: 1rem;
  color: $paragraphSecondaryColor;
}

.description {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  color: $paragraphMainColor;
}

.unreadedMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $whiteColor;
  background-color: $primaryColor;
  @include circle(2rem);
}
