// =========================================
// Main colors
// =========================================
$primaryColor: #0066c9;
$secondaryColor: #e89111;

// =========================================
// Other Colors
// =========================================
$whiteColor: #fff;
$blackColor: #000;
$greyColor: #d5d5d5;
$greenColor: #06bf25;
$redColor: #e90b0b;
$orangeColor: #efb104;
$yellowColor: #e8c100;
$borderColor: #d5d5d5;
$mainPageBackground: $whiteColor;

// =========================================
// Input Styles
// =========================================
$inputPlaceholderColor: #7c7d7e;
$inputBackgroundColor: transparent;
$inputBorderColor: #d5d5d5;
$inputHeight: 5.4rem;
$inputFontSize: 1.5rem;
$inputGreyBackgroundColor: #f1f1f1;

// =========================================
// Brands Colors
// =========================================
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

// =========================================
// Teypgraphy
// =========================================
$mainFontFamily: 'Almarai';

// =========================================
// Head colors
// =========================================
$headingMainColor: #052443;

// =========================================
// Paragraph Colors
// =========================================
$paragraphMainColor: #052443;
$paragraphSecondaryColor: #727272;

// =========================================
//Border Radius
// =========================================
$mainBorderRadius: 10px;
$secondaryBorderRadius: 25px;
$thirdBorderRadius: 33px;
$fourthBorderRadius: 50px;

// =========================================
// Direction
// =========================================
$dir: 'ltr';

// =========================================
// Transition
// =========================================

$mainTransition: 0.5s;
