@forward "@/theme/shared.scss";

.sections {
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;

  @include sm {
    grid-template-columns: repeat(4, 1fr);
  }
  @include xs {
    grid-template-columns: repeat(3, 1fr);
  }
  @include xxs {
    grid-template-columns: repeat(2, 1fr);
  }
}
