@forward "@/theme/shared.scss";

.chatWrapper {
  display: flex;
  gap: 3rem;
  height: 50vh;
}

.messages {
  width: 30%;
}

.messagesWrappper {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.chatsBody {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.chatsBodyWrapper {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 30px rgba($blackColor, 0.16);
  height: 100%;
  border-radius: $mainBorderRadius;
}
