@forward "@/theme/shared.scss";

.contactUsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10rem;
  row-gap: 2rem;
}

.formWrapper {
  width: min(100%, 342px);
}

.image {
  img {
    display: block;
    width: min(100%, 444px);
    height: auto;
  }
}

@include xs {
  .contactUsWrapper {
    flex-direction: column;
  }
}
