@forward "@/theme/shared.scss";

.productCard {
  padding: 2rem;
  background-color: $whiteColor;
  box-shadow: 0 3px 30px rgba($blackColor, 0.16);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: $mainBorderRadius;
  overflow: hidden;
  transition: $mainTransition;

  &:hover {
    box-shadow: 0 3px 30px rgba($blackColor, 0.4);
  }
}

@include xxs {
  .productCard {
    flex-direction: column;
  }
}
