@forward "@/theme/shared.scss";

.addAd {
  padding-block: 5rem 2rem;
}

.inputsWrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
  gap: 1rem;
}

textarea {
  width: 100%;

}
