@forward "@/theme/shared.scss";

.addAd {
  padding-block: 5rem 2rem;
}

.inputsWrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
  gap: 1rem;
}

.confirmWrapper {
  grid-row: 4;
  grid-column: 1/3;
  display: flex;
  gap: 1rem;

  button {
    flex: 1;
  }
}

.checkboxWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.checkboxLabel {
  color: $paragraphSecondaryColor;
  font-size: 12px;
  transition: $primaryColor;

  &.checked {
    color: $secondaryColor;
  }
}

.checkboxLabelWrapper {
  flex: 1;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;

  .commissionLink {
    color: $headingMainColor;
    font-size: 12px;
  }
}
